<div class="cory-mat-footer"  *ngIf="parent.packageJson !== undefined">

    <mat-toolbar class="cory-layout-menus" color="primary">

        <a *ngIf="parent.packageJson.corifeus.publish" mat-button [href]="linkNpm" target="_blank" [matTooltip]="tooltip.Npm" [matTooltipPosition]="tooltipPosition">
            <img [src]="npmSvg" style="width: auto; height: 20px;"/>
        </a>

        <a mat-button [href]="linkGithub" target="_blank" [matTooltip]="tooltip.GitHub" [matTooltipPosition]="tooltipPosition">
            <i class="fa fa-github cory-layout-fa"></i>
            <span class="cory-mat-hide-xsmall">
            GitHub
            </span>
        </a>


        <span class="cory-mat-fill-horizontal"></span>


        <!--
        [cory-tooltip-position]="tooltipPosition"
        -->
        <cory-mat-translation-button></cory-mat-translation-button>

        <!--
         [cory-tooltip-position]="tooltipPosition"
        -->
        <cory-mat-theme-button></cory-mat-theme-button>

        <a mat-button [href]="linkJetBrains" target="_blank" [matTooltip]="tooltip.Sponsored" [matTooltipPosition]="tooltipPosition">
            <img [src]="jetbrainsSvg" style="width: auto; height: 20px; min-height: 20px; max-height: 20px;"/>
            <span class="cory-mat-hide-xsmall">
                &nbsp;<span [innerHTML]="i18n.pages.title.sponsored"></span>
            </span>
        </a>

        <a mat-button [href]="linkDeveloper" target="_blank" [matTooltip]="tooltip.Developer"  [matTooltipPosition]="tooltipPosition">
            <mat-icon>flash_on</mat-icon>
            <span class="cory-mat-hide-xsmall">
                <span [innerHTML]="decodeEntities(i18n.pages.title.developer)"></span> {{ currentYear }}
            </span>
        </a>


    </mat-toolbar>


</div>
