.cory-mat-header * {
    color: white !important; 
}

body.cory-mat-theme-dark-matrix .cory-mat-header *{
    color: black !important; 
}

.cory-layout-header-top {
    opacity: 0.25;
    font-size: 12px;
    position: relative;
    top: 15px;
    left: -45px;
    z-index: 10;


    .cory-layout-header-top-p3x {
        text-transform: uppercase;
    }

    @media screen and (max-width: $cory-mat-size-small) {
        top: 15px;
    }
}

.cory-layout-header-title {
    font-size: 30px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -5px;
    @media screen and (max-width: 1000px) {
        font-size: 16px !important;
    }
}

/*
  @media screen and (max-width: 700px) {
    font-size: 16px !important;
  }

 */
.cory-pages-layout-header-title {
    margin-left: 5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media screen and (min-width: 400px) and (max-width: 1000px) {
        position: relative;
        top: 10px;
        max-width: 500px !important;
    }
    @media screen and (max-width: 399px) {
        position: relative;
        top: 10px;
        max-width: 220px !important;
    }
}
