@use '@fontsource/roboto/300.css' as *;
@use '@fontsource/roboto/400.css' as *;
@use '@fontsource/roboto/400-italic.css' as *;
@use '@fontsource/roboto/500.css' as *;
@use '@fontsource/roboto/700.css' as *;

@use '@fontsource/roboto-mono/300.css' as *;
@use '@fontsource/roboto-mono/400.css' as *;
@use '@fontsource/roboto-mono/400-italic.css' as *;
@use '@fontsource/roboto-mono/500.css' as *;
@use '@fontsource/roboto-mono/700.css' as *;

@use 'material-design-icons/iconfont/material-icons.css' as *;

@use '../app/modules/material/scss/all' as *;

//corifeus-inject
@use '../app/layout/cory-layout.scss' as *;
@use '../app/layout/footer/cory-layout-footer.scss' as *;
@use '../app/layout/header/cory-layout-header.scss' as *;
//corifeus-inject:end
@use 'sass:meta';
@use '../app/modules/material/scss/material/_variables' as corymat2;
@use "_variables" as cory2;

//
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.cory-layout-title {
    font-size: 250%;
    font-weight: bold;
}

pre > code {
    display: block;
    overflow-x: auto;
}

.cory-mat-theme-light {
    @include meta.load-css('../../node_modules/highlight.js/styles/github.css');

    pre > code {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }


    .cory-layout-title {
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    }

}

.cory-mat-theme-dark {
    @include meta.load-css('../../node_modules/highlight.js/styles/github-dark.css');

    .cory-layout-title {
        text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
    }

}

.cory-mat-theme-dark-matrix {
    .cory-layout-title {
        text-shadow: 2px 2px rgba(0, 255, 0, 0.5);
    }
}

img {
    max-width: 100%;
    height: auto;
}


.mat-toolbar {
    @media screen and (max-width: corymat2.$cory-mat-size-xsmall) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

a code {
    font-weight: bold;
}


.cory-layout-fa {
    font-size: 23px !important;
}

.cory-mat-footer {
    .mat-mdc-button {
        text-overflow: ellipsis;
        //        overflow: hidden;
    }
}

.cory-mat-header, .cory-mat-footer {
    height: 56px !important;

    @media screen and (max-width: corymat2.$cory-mat-size-xsmall) {
        .mat-mdc-button {
            $padding: 8px;
            min-width: 24px !important;
            padding-left: $padding;
            padding-right: $padding;
        }
    };
}


.cory-mat-theme-light {
    .cory-mat-header {
        border-bottom: 5px solid rgba(0, 0, 0, 0.1);
    }

    .cory-mat-footer {
        border-top: 5px solid rgba(0, 0, 0, 0.1);
    }

    .cory-mat-header,
    .cory-mat-footer {
        box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.25);
    }
}

.cory-mat-theme-dark {
    .cory-mat-header {
        border-bottom: 5px solid rgba(255, 255, 255, 0.1);
    }

    .cory-mat-footer {
        border-top: 5px solid rgba(255, 255, 255, 0.1);
    }

    .cory-mat-header,
    .cory-mat-footer {
        box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.15);
    }
}

.cory-mat-theme-dark-matrix {
    .cory-mat-header {
        border-bottom: 5px solid rgba(0, 0, 0, 0.4);
    }

    .cory-mat-footer {
        border-top: 5px solid rgba(0, 0, 0, 0.4);
    }
}

.cory-layout-link-external {
    .fa, .fas, .fab, .far {
        opacity: 0.5;
    }

    &:hover {
        .fa, .fas, .fab, .far {
            opacity: 1;
        }
    }
}



.cory-layout-markdown-reference {
    ///    float: right;
    display: none;
}

.cory-layout-markdown-header:hover > a {
    display: inline;
}

.cory-layout-sidenav-search {
    $padding: 15px;
    padding-left: $padding;
    padding-right: $padding;
}

.cory-layout-sidenav-container {
    background: none !important;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;


    padding-top: corymat2.$cory-mat-fixed-height-collapsed;
    padding-bottom: corymat2.$cory-mat-fixed-height-collapsed;

    @media screen and (min-width: corymat2.$cory-mat-size-xsmall) {
        //        padding-top: $cory-mat-fixed-height-top;
        //        padding-bottom: $cory-mat-fixed-height-bottom;
    }

    @media screen and (min-width: corymat2.$cory-mat-size-medium) {
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
    };


}

.cory-pages-menu-effect {
    opacity: 0.75;
}

.cory-pages-menu-effect:hover {
    opacity: 1;
}

hr {
    border-style: solid;
    opacity: 0.2;
}

.cory-layout-markdown-header:hover .emoji
{
    transition: all 500ms !important;
    transform: scale(1.2) rotate(360deg) !important;;
}


