#cory-pages-layout-menu-main-icon {
    float: left;
    min-width: 24px !important;
    display: inline-block;
    text-align: center;
    position: relative;
    left: -7px;
}

.cory-pages-layout-menu-main-title {
    display: inline-block;
    max-width: 200px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#cory-pages-layout-menu-main-close {
    position: fixed;
    top: 5px;
    right: 15px;
    z-index: 3
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.cory-layout-search-field .mat-form-field-infix {
    border-top: 0px solid transparent;
}
