<cory-mat-loading></cory-mat-loading>

<mat-sidenav-container class="cory-layout-sidenav-container" [style.z-index]="menuSidenav.opened ? 2 : 1">
    <mat-sidenav #menuSidenav align="end" class="cory-layout-sindenav">
        <button disabled mat-menu-item>
            {{ i18n.title.packages }}
        </button>

        <button mat-menu-item
                *ngFor="let repo of repos"
                (click)="navigate('github/' + repo + '/index.html' ); menuRepoActive = repo; menuMenuActive = undefined; packageMenuClose()"
                [class.cory-mat-menu-item-active]="menuRepoActive == repo"
        >
                <span *ngIf="packages[repo]">
                    <span style="min-width: 24px !important; display: inline-block; text-align: center;">
                        <i *ngIf="packages[repo]" [class]="packages[repo].corifeus.icon||'fa fa-bolt' "></i>
                    </span>
                    {{ extractTitle(packages[repo]) }}

                    <div style="float: right; margin-left: 5px; opacity: 0.25;">
                    {{ packages[repo].corifeus.code }}
                    </div>
                </span>
        </button>

    </mat-sidenav>

    <div class="cory-mat-container">
        <mat-card>
            <mat-card-content style="position: relative;" *ngIf="packageJson !== undefined">
                <cory-web-pages-build-status style="float: left;" [cory-repo]="currentRepo"></cory-web-pages-build-status>
                <div style="float: right; font-weight: bold; font-size: 125%;">
                    v{{ packageJson.version }}
                </div>
                <div style="clear: both"></div>
                <!--
                <div *ngIf="packageJson.corifeus.publish">
                    <br/>
                    <a href="https://npmjs.com/package/{{ packageJson.name }}/" target="_blank">
                        <img src="https://nodei.co/npm/{{ packageJson.name }}.png?downloads=true&amp;downloadRank=true&amp;stars=true" alt="NPM" class="badge badge" style="max-width: 408px; width: 100%;">
                    </a>
                </div>
                -->
                <router-outlet>
                </router-outlet>
            </mat-card-content>
        </mat-card>
    </div>
</mat-sidenav-container>

<cory-layout-header></cory-layout-header>
<cory-layout-footer></cory-layout-footer>



<div *ngIf="menuSidenav.opened" style="position: fixed; top: 5px; right: 15px; z-index: 3">
    <button mat-icon-button color="primary"  (click)="packageMenuClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>
