$cory-layout-settings-defaultDomain: "pages.corifeus.com";
$cory-layout-settings-github-defaultRepo: "corifeus";
$cory-layout-settings-github-token: "OWY3MDgzMTllOWYyNWQwNjc3MTgwMTUwMzQ2ZDljNzY5ZmExYjU4Yg==";
$cory-layout-settings-github-user: "patrikx3";
$cory-layout-settings-github-repoNames: "corifeus";
$cory-layout-settings-github-exclude-starts-with: "address-book" , "fortune-cookie" , "resume" , "service-manager-tray-for-windows" , "gitter" , "gitlist-workspace" , "gitlist" , "cookie" , "jgrowl" , "electron-apps" , "grunt-angular-templates" , "stackicons" , "npm-check-updates" , "node-v8-workers" , "js-written-number" , "VS2015-Dark-Npp";
$cory-layout-settings-github-url-repos: "https://api.github.com/users/${github.user}/repos?per_page=100000";
$cory-layout-settings-github-url-repo: "https://api.github.com/repos/${user}/${repo}";
$cory-layout-settings-github-url-file: "https://${user}.github.io/${repo}/${path}";
