$cory-layout-settings-defaultDomain: "pages.corifeus.com";
$cory-layout-settings-p3x-git-url: "https://server.patrikx3.com/api/patrikx3/git/repos";
$cory-layout-settings-github-defaultRepo: "corifeus";
$cory-layout-settings-github-repoNames: "corifeus";
