$cory-layout-settings-trello-url: "https://trello.com/b/3NArfcD1/corifeus";
$cory-layout-settings-github-defaultRepo: "corifeus";
$cory-layout-settings-github-token: "M2IzMGM5NzBmMGI3YTFiY2U4MDBkNTYzOTVlODI1Y2MyZjlmNjJjZQ==";
$cory-layout-settings-github-user: "patrikx3";
$cory-layout-settings-github-repoNames: "corifeus";
$cory-layout-settings-github-exclude-starts-with: "address-book" , "fortune-cookie" , "resume" , "service-manager-tray-for-windows";
$cory-layout-settings-github-url-repos: "https://api.github.com/users/${github.user}/repos";
$cory-layout-settings-github-url-repo: "https://api.github.com/repos/${user}/${repo}";
$cory-layout-settings-github-url-file: "https://${user}.github.io/${repo}/${path}";
