/* You can add global styles to this file, and also import other style files */
@use "./artifacts/style" as *;

.cory-markdown-code {
    position: relative;
    .cory-markdown-code-copy-paste {
        visibility: hidden;
        position: absolute;
        top: 17px;
        right: 10px;

        .far {
            cursor: pointer;
        }
    }

}

.cory-markdown-code:hover {
    .cory-markdown-code-copy-paste {
        visibility: visible;
    }
}

body.cory-mat-theme-dark {
    color-scheme: dark;
}

body.cory-mat-theme-light {
    color-scheme: light;
}

.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button,
.mat-mdc-fab,
.mat-mdc-mini-fab,
.mat-mdc-card,
.mat-mdc-expansion-panel,
.mat-mdc-expansion-panel-header {
  border-radius: 8px !important;
}

.custom-snackbar {
    border-radius: 6px; /* Adjust the radius as needed */
    overflow: hidden;    /* Prevent content from overflowing */
    background-color: #f5f5f5; /* Optional: customize the background */
    color: #333; /* Optional: customize the text color */
  }


code.hljs  {
    border-radius: 12px; /* Adjust the radius as needed */
}

#cory-pages-layout-background {
    //    $toolbar-height: 62px;
        position: fixed;
    //    top: $toolbar-height;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
    }
    